.container {
  max-width: 900px;
  margin: 2rem auto;
  padding: 0 2rem 2rem 2rem;
}

.container h1 {
  /* color: var(--ifm-color-primary); */
  font-size: 1.8rem;
  margin-bottom: 0.5rem;
}


/* ヒーローセクション（トップの大きなバナー） */
.heroBanner {
  padding: 4rem 0 3rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
  color: var(--ifm-font-color-base);
  background-color: var(--ifm-background-color);
}

/* ロゴ画像のスタイル */
.logoImage {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  border: 4px solid var(--ifm-color-primary);
  margin-bottom: 1.5rem;
  background-color: #fff;
}

.heroSubtitle {
  font-size: 1.5rem;
  margin-bottom: 2rem;
  font-weight: bold;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

/* 特徴（スタッツ）セクション */
.features {
  display: flex;
  align-items: center;
  padding: 4rem 0;
  width: 100%;
}

/* リンクカードセクション */
.socialLinks {
  padding: 4rem 0;
}

.linkCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1.5rem;
  border: 1px solid var(--ifm-color-emphasis-200);
  border-radius: 8px;
  transition: all 0.2s ease;
  text-decoration: none !important;
  color: var(--ifm-font-color-base);
  height: 100%;
  box-shadow: 0 6px 12px rgba(0,0,0,0.1);
}

.linkCard:hover {
  border-color: var(--ifm-color-primary);
  transform: translateY(6px);
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

.linkCard h3 {
  margin-top: 0.6rem;
  margin-bottom: 0;
}

.linkCard p {
  margin-bottom: 0.6rem;
}