/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #e60012; /* 明るい赤 */
  --ifm-color-primary-dark: #cf0010;
  --ifm-color-primary-darker: #c3000f;
  --ifm-color-primary-darkest: #a0000c;
  --ifm-color-primary-light: #ff1a2b;
  --ifm-color-primary-lighter: #ff2636;
  --ifm-color-primary-lightest: #ff4d5b;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}

[data-theme='light'] {
  --ifm-background-color: #ffffff;
  --ifm-font-color-base: #000;
}

[data-theme='dark'] {
  --ifm-color-primary: #ff3344;
  --ifm-font-color-base: #fff;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}

[data-theme='dark'] svg {
  color: var(--icon-dark-color) !important;
}

.menu__link {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

h1 {
  font-size: 2.0rem;
}

h2 {
  font-size: 1.4rem;
}

h3 {
  font-size: 1.2rem;
}

.footer__items:last-child {
  display: flex !important;
  gap: 18px;
  padding-left: 0;
  list-style: none;
}

.button--primary {
  background-color: var(--ifm-color-primary);
  border-color: var(--ifm-color-primary);
  color: #fff;
}

iframe[src*="youtube.com"] {
  width: 100%;
  aspect-ratio: 16 / 9;
  height: auto;
}